<%for (var i=0;i<data.length;i++){%>
	<li class="vote_item <%if(i%2 === 0){%>oven<%}%>">
		<a href="<%=data[i].url%>" class="vote_poster" target="_blank" workid = "<%=data[i.works_id]%>" static="tpl=voteitem" alog-alias="voteitem<%=i%>">
			<img src="<%=data[i].imgh_url%>">
		</a>
		<a href="<%=data[i].url%>" class="vote_post_title" static="tpl=voteitem" alog-alias="voteitem<%=i%>"><%=data[i].title%></a>
		<div class="wrapvote">
			<a href="javascript:void(0)" class="tovote fl <%if(data[i].uid_has_voted){%>voted<%}%>" workid = "<%=data[i].works_id%>">
				<%if(data[i].uid_has_voted){%>
							已赞
						<%} else {%>
							赞一下
						<%}%>
			</a>
			<span class="votenum fl"><%=data[i].vote_num%>票</span>
		</div>
	</li>
<%}%>