<a class="poster" href="<%= data.url%>" target="_blank" static="bl=poster&tpl=poster">
	<img src="<%= data.imgh_url%>">
	<span class="title postertitle"><%= data.title%></span>
	<span class="mask postermask"></span>
</a>
